* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(25, 55, 65);
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 50px;
    border-radius: 150PX;
    max-height: 60%;
    max-width: 75%;
    padding: 20px;
    margin: 50px;
    background-color: rgba(27, 223, 125, 0.466);
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}